
</div>
<div class="block_popop_modal lang_block_popup">
	<div class="popup_inner">
		<div class="closeBtn"></div>
		<div class="title">Выбор языка</div>
		<div class="list_lang">
			<div class="link"><a href="" class="active">Русский</a></div>
			<div class="link"><a href="">Узбекча</a></div>
			<div class="link"><a href="">O’zbekcha</a></div>
		</div>
	</div>
</div>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>