include _header.jade
	<div class="main_block_wrap">
		<div class="title">
			<div class="title_name">Забронировать</div>
		</div>
		<div class="search_form">
			<form action="">
				<input class="sear_text" type="text" placeholder="Поиск">
				<input type="submit" class="sear_btn">
			</form>
		</div>
		<div class="discount_bloсk">
			<div class="name">Получите 50% скидку на первое посещение</div>
			<a href="" class="btn_white">Получить</a>
			<img src="files/monkey.png" alt="">
		</div>
		<div class="list_points">
			<a href="book.html" class="item">
				<span class="image">
					<img src="files/item.png" alt="">
				</span>
				<span class="right">
					<span class="name">Barbershop Tashkent</span>
					<span class="text">Адрес: Ул. Бунедкор 8а метро миллий бог, Tashkent</span>
				</span>
			</a>
			<a href="book.html" class="item">
				<span class="image">
					<img src="files/item2.png" alt="">
				</span>
				<span class="right">
					<span class="name">Uncle Chill</span>
					<span class="text">Адрес: Ул. Бунедкор 8а метро миллий бог, Tashkent</span>
				</span>
			</a>
			<a href="book.html" class="item">
				<span class="image">
					<img src="files/item3.png" alt="">
				</span>
				<span class="right">
					<span class="name">BigBro Tashkent</span>
					<span class="text">Адрес: Ул. Бунедкор 8а метро миллий бог, Tashkent</span>
				</span>
			</a>
			<a href="book.html" class="item">
				<span class="image">
					<img src="files/item.png" alt="">
				</span>
				<span class="right">
					<span class="name">Barbershop Tashkent</span>
					<span class="text">Адрес: Ул. Бунедкор 8а метро миллий бог, Tashkent</span>
				</span>
			</a>
			<a href="book.html" class="item">
				<span class="image">
					<img src="files/item2.png" alt="">
				</span>
				<span class="right">
					<span class="name">Uncle Chill</span>
					<span class="text">Адрес: Ул. Бунедкор 8а метро миллий бог, Tashkent</span>
				</span>
			</a>
			<a href="book.html" class="item">
				<span class="image">
					<img src="files/item3.png" alt="">
				</span>
				<span class="right">
					<span class="name">BigBro Tashkent</span>
					<span class="text">Адрес: Ул. Бунедкор 8а метро миллий бог, Tashkent</span>
				</span>
			</a>
			<a href="book.html" class="item">
				<span class="image">
					<img src="files/item.png" alt="">
				</span>
				<span class="right">
					<span class="name">Barbershop Tashkent</span>
					<span class="text">Адрес: Ул. Бунедкор 8а метро миллий бог, Tashkent</span>
				</span>
			</a>
			<a href="book.html" class="item">
				<span class="image">
					<img src="files/item2.png" alt="">
				</span>
				<span class="right">
					<span class="name">Uncle Chill</span>
					<span class="text">Адрес: Ул. Бунедкор 8а метро миллий бог, Tashkent</span>
				</span>
			</a>
			<a href="book.html" class="item">
				<span class="image">
					<img src="files/item3.png" alt="">
				</span>
				<span class="right">
					<span class="name">BigBro Tashkent</span>
					<span class="text">Адрес: Ул. Бунедкор 8а метро миллий бог, Tashkent</span>
				</span>
			</a>
		</div>
	</div>
	<div class="fixed_menu_panel">
		<ul>
			<li class="opened">
				<a href="feed.html">
					<span class="icon">
						<img src="files/feed.svg" alt="">
					</span>
					<span class="name">Все места</span>
				</a>
			</li>
			<li>
				<a href="calendar.html">
					<span class="icon">
						<img src="files/calendar.svg" alt="">
					</span>
					<span class="name">Мои брони</span>
				</a>
			</li>
			<li>
				<a href="bookmark.html">
					<span class="icon">
						<img src="files/bookmark.svg" alt="">
					</span>
					<span class="name">Закладки</span>
				</a>
			</li>
			<li>
				<a href="user.html">
					<span class="icon">
						<img src="files/user.svg" alt="">
					</span>
					<span class="name">Профиль</span>
				</a>
			</li>
		</ul>
	</div>
include _footer.jade