include _header.jade
	<div class="success_block_wrap">
		<div class="icon">🔥</div>
		<div class="title">Мы забронировали для вас местечко!</div>
		<div class="date">Uncle Chill Barbershop</div>
		<div class="list_param">
			<div>В понедельник (24 апреля) в 12:00</div>
		</div>
		<div class="order_number">Номер заказа <span>9831</span></div>
		<a href="calendar.html" class="btn calendar_btn"><span>Мои записи</span></a>
		<a href="main.html" class="btn border">Вернуться На главную</a>
		<div class="logo_bottom">
			<img src="files/logo-bottom.svg" alt="">
		</div>
	</div>
include _footer.jade